@charset "UTF-8";
body {
  margin: 0;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
}

/* базові списки */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --primary-black-color: #2f303a;
  --primary-icon-color: #afb1b8;
  --primary-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* базові книпки */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms var(--primary-animation), background-color 250ms var(--primary-animation), box-shadow 250ms var(--primary-animation);
}
.button:hover, .button:focus, .button-current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form__button {
  margin: auto;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.hero__button {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: color 250ms var(--primary-animation), background-color 250ms var(--primary-animation);
}
.hero__button:hover, .hero__button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 479px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* footer */
.footer {
  background-color: var(--primary-black-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    gap: 93px;
  }
}

@media screen and (max-width: 767px) {
  .footer__info-box {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__info-box {
    display: inline-block;
    margin-right: 178px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__info-box {
    text-align: center;
  }
}

.address {
  font-style: normal;
}

.address__item:not(.address__item:last-child) {
  margin-bottom: 9px;
}

.addrem__map {
  text-decoration: none;
  color: var(--primary-white-color);
  line-height: 1.71;
}

.address__link {
  text-decoration: none;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--primary-animation);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social {
    display: inline-block;
  }
}

.social__title,
.sub-form__title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .social__title,
.sub-form__title {
    text-align: left;
  }
}

.social-list__linc--colors {
  background-color: #44454e;
  color: var(--primary-white-color);
  transition: background-color 250ms var(--primary-animation);
}
.social-list__linc--colors:hover, .social-list__linc--colors:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-sub {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .sub-form__box {
    display: flex;
    justify-content: center;
  }
}

.sub-form__box .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-form__email-input {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;
  background-color: var(--primary-black-color);
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms var(--primary-animation);
}
.sub-form__email-input:focus {
  border-color: var(--accent-color);
}
.sub-form__email-input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-form__email-input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-form__email-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199px) {
  .sub-form__email-input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .sub-form__email-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sub-form__email-input {
    display: inline-block;
    width: 358px;
  }
}

.icon-send {
  margin-left: 10px;
}

/* Header */
.header--accent {
  border-bottom: 1px solid #ececec;
}

.header {
  position: relative;
  z-index: 1;
}

.header__container {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
}

/* Nav */
.header__menu {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header__menu {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--primary-white-color);
  }
}
@media screen and (min-width: 768px) {
  .header__menu {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
  }
}

.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.menu-btn {
  margin-left: auto;
  z-index: 999;
  border: none;
  background-color: inherit;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn:hover, .menu-btn:focus {
  color: var(--accent-color);
}

.icon-close {
  opacity: 0;
}

.is-open .icon-open {
  opacity: 0;
}

.is-open .icon-close {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .site-nav__list {
    max-width: 400px;
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .site-nav__list {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
  }
}

.site-nav__linc,
.header-address__linc {
  align-items: center;
  transition: color 250ms var(--primary-animation);
}

.site-nav__linc {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav__linc:hover, .site-nav__linc:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav__linc {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .site-nav__linc {
    font-size: 40px;
    line-height: 1.175;
  }
}

.site-nav__linc--current {
  color: var(--accent-color);
}
.site-nav__linc--current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .site-nav__linc--current::after {
    visibility: hidden;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header-address {
    display: flex;
    flex-direction: column-reverse;
    max-width: 400px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .header-address {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .header-address {
    margin-left: auto;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-address {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header-address__item:not(:first-child) {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 1199px) {
  .header-address__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-address__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-address__linc {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--primary-animation);
}
@media screen and (max-width: 767px) {
  .header-address__linc {
    font-size: 24px;
    line-height: 1.167;
  }
}
.header-address__linc:hover, .header-address__linc:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header-address__linc {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .header-address__linc > .icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-address__linc--accent {
    font-size: 34px;
    line-height: 40px;
    color: var(--accent-color);
  }
}

.header-address__icon-envelope {
  margin-right: 10px;
}

.header-address__icon-phone {
  margin-right: 7px;
}

.icon {
  display: inline-block;
  /* width: 1em;
  height: 1em; */
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* logo */
.logo {
  display: inline-block;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--primary-animation), visibility 25000ms var(--primary-animation);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding-top: 93px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backdrop {
    padding-top: 208px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  max-width: 450px;
  padding: 40px;
  margin: auto;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 528px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
}
.modal__close:hover, .modal__close:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.form-order__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-order__item:not(:last-child) {
  margin-bottom: 10px;
}

.form-order__lable {
  position: relative;
  display: block;
  transition: color 250ms var(--primary-animation);
}

.form-order__name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-order__list {
  margin-bottom: 20px;
  display: block;
}
.form-order__list:not(:last-child) {
  margin-bottom: 10px;
}

.form-order__lable {
  color: var(--title-text-color);
}
.form-order__lable:focus-within {
  color: var(--accent-color);
}

.form-order__input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 42px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  transition: border 250ms var(--primary-animation);
}
.form-order__lable:focus-within > .form-order__input {
  border-color: var(--accent-color);
}

.form-order__textarea {
  display: block;
  height: 120px;
  padding-right: 16px;
  padding-left: 16px;
  resize: none;
}
.form-order__textarea::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-order__textarea:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-order__textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-order__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.form-order__chech {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: var(--title-text-color);
}

.form-order__checkbox-icon {
  margin-right: 8.38px;
}

.form-order__checkbox-text {
  line-height: 1.71;
  color: var(--primary-text-color);
}
@media screen and (max-width: 1199px) {
  .form-order__checkbox-text {
    font-size: 12px;
    line-height: 1.1667;
    letter-spacing: 0.03em;
  }
}

.form-order__checkbox-linc {
  color: var(--accent-color);
}

.form-order__check-on {
  opacity: 0;
  transition: opacity 250ms var(--primary-animation);
}
.form-order__checkbox:checked ~ .icon > .form-order__check-on {
  opacity: 1;
}

.form-order__check-off {
  transition: opacity 250ms var(--primary-animation);
}
.form-order__checkbox:checked ~ .icon > .form-order__check-off {
  opacity: 0;
}

.form-order__checkbox:focus-within ~ .form-order__checkbox-icon {
  fill: var(--accent-color);
  /* outline: auto; */
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  transition: fill 250ms var(--primary-animation);
}

.submit-btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
.submit-btn:hover {
  cursor: pointer;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-left: -8px;
  margin-top: -15px;
}
@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
  }
}

.button-list__item {
  margin-left: 8px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}

.products-list__item {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .products-list__item {
    display: block;
    text-align: center;
  }
  .products-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .products-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .products-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list__item {
    width: 370px;
  }
}

.products-list__linc {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: box-shadow 250ms var(--primary-animation);
}
.products-list__linc:hover, .products-list__linc:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__linc:first-child > .products-list__info {
    height: 146.078px;
  }
}

.products-list__img {
  display: block;
  width: 100%;
}

.products-list__box {
  position: relative;
  overflow: hidden;
}

.products-list__overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--primary-animation);
}
.products-list__linc:hover .products-list__overlay, .products-list__linc:focus .products-list__overlay {
  transform: translate(0, -100%);
}

.products-list__meta {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.products-list__info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.products-list__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.products-list__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.products-list__img--size {
  height: 294px;
}

.products-list__img--1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/products/products-1/products-480.jpg");
}
@media screen and (max-width: 767px) {
  .products-list__img--1 {
    background-image: url("../images/products/products-1/products-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__img--1 {
    background-image: url("../images/products/products-1/products-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__img--1 {
    background-image: url("../images/products/products-1/products-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products-list__img--1 {
    background-image: url("../images/products/products-1/products-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__img--1 {
    background-image: url("../images/products/products-1/products-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__img--1 {
    background-image: url("../images/products/products-1/products-1600@2x.jpg");
  }
}

.products-list__img--2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/products/products-2/products-480.jpg");
}
@media screen and (max-width: 767px) {
  .products-list__img--2 {
    background-image: url("../images/products/products-2/products-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__img--2 {
    background-image: url("../images/products/products-2/products-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__img--2 {
    background-image: url("../images/products/products-2/products-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products-list__img--2 {
    background-image: url("../images/products/products-2/products-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__img--2 {
    background-image: url("../images/products/products-2/products-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__img--2 {
    background-image: url("../images/products/products-2/products-1600@2x.jpg");
  }
}

.products-list__img--3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/products/products-3/products-480.jpg");
}
@media screen and (max-width: 767px) {
  .products-list__img--3 {
    background-image: url("../images/products/products-3/products-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__img--3 {
    background-image: url("../images/products/products-3/products-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__img--3 {
    background-image: url("../images/products/products-3/products-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products-list__img--3 {
    background-image: url("../images/products/products-3/products-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__img--3 {
    background-image: url("../images/products/products-3/products-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__img--3 {
    background-image: url("../images/products/products-3/products-1600@2x.jpg");
  }
}

.products-list__img--4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/products/products-4/products-480.jpg");
}
@media screen and (max-width: 767px) {
  .products-list__img--4 {
    background-image: url("../images/products/products-4/products-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__img--4 {
    background-image: url("../images/products/products-4/products-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__img--4 {
    background-image: url("../images/products/products-4/products-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products-list__img--4 {
    background-image: url("../images/products/products-4/products-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__img--4 {
    background-image: url("../images/products/products-4/products-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__img--4 {
    background-image: url("../images/products/products-4/products-1600@2x.jpg");
  }
}

.products-list__img--5 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/products/products-5/products-480.jpg");
}
@media screen and (max-width: 767px) {
  .products-list__img--5 {
    background-image: url("../images/products/products-5/products-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__img--5 {
    background-image: url("../images/products/products-5/products-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__img--5 {
    background-image: url("../images/products/products-5/products-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products-list__img--5 {
    background-image: url("../images/products/products-5/products-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__img--5 {
    background-image: url("../images/products/products-5/products-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__img--5 {
    background-image: url("../images/products/products-5/products-1600@2x.jpg");
  }
}

.products-list__img--6 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/products/products-6/products-480.jpg");
}
@media screen and (max-width: 767px) {
  .products-list__img--6 {
    background-image: url("../images/products/products-6/products-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__img--6 {
    background-image: url("../images/products/products-6/products-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__img--6 {
    background-image: url("../images/products/products-6/products-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products-list__img--6 {
    background-image: url("../images/products/products-6/products-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__img--6 {
    background-image: url("../images/products/products-6/products-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__img--6 {
    background-image: url("../images/products/products-6/products-1600@2x.jpg");
  }
}

.products-list__img--7 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/products/products-7/products-480.jpg");
}
@media screen and (max-width: 767px) {
  .products-list__img--7 {
    background-image: url("../images/products/products-7/products-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__img--7 {
    background-image: url("../images/products/products-7/products-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__img--7 {
    background-image: url("../images/products/products-7/products-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products-list__img--7 {
    background-image: url("../images/products/products-7/products-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__img--7 {
    background-image: url("../images/products/products-7/products-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__img--7 {
    background-image: url("../images/products/products-7/products-1600@2x.jpg");
  }
}

.products-list__img--8 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/products/products-8/products-480.jpg");
}
@media screen and (max-width: 767px) {
  .products-list__img--8 {
    background-image: url("../images/products/products-8/products-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__img--8 {
    background-image: url("../images/products/products-8/products-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__img--8 {
    background-image: url("../images/products/products-8/products-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products-list__img--8 {
    background-image: url("../images/products/products-8/products-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__img--8 {
    background-image: url("../images/products/products-8/products-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__img--8 {
    background-image: url("../images/products/products-8/products-1600@2x.jpg");
  }
}

.products-list__img--9 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/products/products-9/products-480.jpg");
}
@media screen and (max-width: 767px) {
  .products-list__img--9 {
    background-image: url("../images/products/products-9/products-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .products-list__img--9 {
    background-image: url("../images/products/products-9/products-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__img--9 {
    background-image: url("../images/products/products-9/products-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products-list__img--9 {
    background-image: url("../images/products/products-9/products-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__img--9 {
    background-image: url("../images/products/products-9/products-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__img--9 {
    background-image: url("../images/products/products-9/products-1600@2x.jpg");
  }
}

.section-title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

/* Section */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding-top {
  padding-top: 0px;
}

.section--gray {
  background-color: var(--primary-bg-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__linc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  text-decoration: none;
  border-radius: 50%;
  color: var(--primary-icon-color);
  transition: color 250ms var(--primary-animation), background-color 250ms var(--primary-animation);
}
.social-list__linc:hover, .social-list__linc:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .soc-list {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .soc-list {
    max-width: 400px;
    visibility: inherit;
  }
}
@media screen and (min-width: 768px) {
  .soc-list {
    display: none;
  }
}

.soc-list__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.soc-list__linc {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
  transition: color 250ms var(--primary-animation);
}
.soc-list__linc:hover, .soc-list__linc:focus {
  color: var(--primary-black-color);
}

/* Постійні клієнти */
@media screen and (min-width: 480px) {
  .company-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 479px) {
  .company-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.company-list__linc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);
  transition: color 250ms var(--primary-animation), background-color 250ms var(--primary-animation);
}
.company-list__linc:hover, .company-list__linc:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .company-list__linc {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .company-list__linc {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .company-list__linc {
    width: 170px;
  }
}

/* Чим ми займаємося */
@media screen and (max-width: 1199px) {
  .examples {
    display: none;
  }
}

.examples-list {
  display: flex;
}

.examples-list__item {
  position: relative;
  width: 370px;
  height: 294px;
}
.examples-list__item:not(:last-child) {
  margin-right: 30px;
}

.examples-list__box {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.examples-list__text {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.exemples-list__img--size {
  height: 294px;
}

.exemples-list__img--1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/exemples/exemples-1/exemples-480.jpg");
}
@media screen and (max-width: 767px) {
  .exemples-list__img--1 {
    background-image: url("../images/exemples/exemples-1/exemples-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .exemples-list__img--1 {
    background-image: url("../images/exemples/exemples-1/exemples-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .exemples-list__img--1 {
    background-image: url("../images/exemples/exemples-1/exemples-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .exemples-list__img--1 {
    background-image: url("../images/exemples/exemples-1/exemples-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .exemples-list__img--1 {
    background-image: url("../images/exemples/exemples-1/exemples-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .exemples-list__img--1 {
    background-image: url("../images/exemples/exemples-1/exemples-1600@2x.jpg");
  }
}

.exemples-list__img--2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/exemples/exemples-2/exemples-480.jpg");
}
@media screen and (max-width: 767px) {
  .exemples-list__img--2 {
    background-image: url("../images/exemples/exemples-2/exemples-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .exemples-list__img--2 {
    background-image: url("../images/exemples/exemples-2/exemples-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .exemples-list__img--2 {
    background-image: url("../images/exemples/exemples-2/exemples-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .exemples-list__img--2 {
    background-image: url("../images/exemples/exemples-2/exemples-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .exemples-list__img--2 {
    background-image: url("../images/exemples/exemples-2/exemples-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .exemples-list__img--2 {
    background-image: url("../images/exemples/exemples-2/exemples-1600@2x.jpg");
  }
}

.exemples-list__img--3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/exemples/exemples-3/exemples-480.jpg");
}
@media screen and (max-width: 767px) {
  .exemples-list__img--3 {
    background-image: url("../images/exemples/exemples-3/exemples-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .exemples-list__img--3 {
    background-image: url("../images/exemples/exemples-3/exemples-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .exemples-list__img--3 {
    background-image: url("../images/exemples/exemples-3/exemples-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .exemples-list__img--3 {
    background-image: url("../images/exemples/exemples-3/exemples-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .exemples-list__img--3 {
    background-image: url("../images/exemples/exemples-3/exemples-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .exemples-list__img--3 {
    background-image: url("../images/exemples/exemples-3/exemples-1600@2x.jpg");
  }
}

/* Особливості */
@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .feature-list__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .feature-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: 270px;
  }
}

.feature-list__cotainer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--primary-bg-color);
}

.feature-list__title {
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.19;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .feature-list__title {
    text-align: left;
  }
}

.feature-list__text {
  line-height: 1.71;
}

/* Шапка */
/* Герой */
.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-black-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1600.jpg");
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1600@2x.jpg");
  }
}

.hero__title {
  width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* Наша команда */
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-list__item {
  padding-bottom: 30px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 479px) {
  .team-list__item {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .team-list__item {
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: 270px;
  }
}

.team-list__img {
  padding-bottom: 30px;
}

.team-list__title {
  padding-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team-list__img--size {
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__img--size {
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__img--size {
    height: 260px;
  }
}

.team-list__img--1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/team/team-1/team-480.jpg");
}
@media screen and (max-width: 767px) {
  .team-list__img--1 {
    background-image: url("../images/team/team-1/team-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .team-list__img--1 {
    background-image: url("../images/team/team-1/team-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__img--1 {
    background-image: url("../images/team/team-1/team-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .team-list__img--1 {
    background-image: url("../images/team/team-1/team-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .team-list__img--1 {
    background-image: url("../images/team/team-1/team-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .team-list__img--1 {
    background-image: url("../images/team/team-1/team-1600@2x.jpg");
  }
}

.team-list__img--2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/team/team-2/team-480.jpg");
}
@media screen and (max-width: 767px) {
  .team-list__img--2 {
    background-image: url("../images/team/team-2/team-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .team-list__img--2 {
    background-image: url("../images/team/team-2/team-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__img--2 {
    background-image: url("../images/team/team-2/team-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .team-list__img--2 {
    background-image: url("../images/team/team-2/team-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .team-list__img--2 {
    background-image: url("../images/team/team-2/team-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .team-list__img--2 {
    background-image: url("../images/team/team-2/team-1600@2x.jpg");
  }
}

.team-list__img--3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/team/team-3/team-480.jpg");
}
@media screen and (max-width: 767px) {
  .team-list__img--3 {
    background-image: url("../images/team/team-3/team-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .team-list__img--3 {
    background-image: url("../images/team/team-3/team-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__img--3 {
    background-image: url("../images/team/team-3/team-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .team-list__img--3 {
    background-image: url("../images/team/team-3/team-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .team-list__img--3 {
    background-image: url("../images/team/team-3/team-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .team-list__img--3 {
    background-image: url("../images/team/team-3/team-1600@2x.jpg");
  }
}

.team-list__img--4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/team/team-4/team-480.jpg");
}
@media screen and (max-width: 767px) {
  .team-list__img--4 {
    background-image: url("../images/team/team-4/team-480.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .team-list__img--4 {
    background-image: url("../images/team/team-4/team-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__img--4 {
    background-image: url("../images/team/team-4/team-768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .team-list__img--4 {
    background-image: url("../images/team/team-4/team-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .team-list__img--4 {
    background-image: url("../images/team/team-4/team-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .team-list__img--4 {
    background-image: url("../images/team/team-4/team-1600@2x.jpg");
  }
}/*# sourceMappingURL=main.css.map */