/* footer */
.footer {
  background-color: var(--primary-black-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @media screen and (min-width: 768px) {
    // display: flex;
    // align-items: baseline;
    // flex-wrap: wrap;
    // gap: 93px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    gap: 93px;
  }
}

.footer__info-box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
    margin-right: 178px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.address {
  font-style: normal;
}

.address__item:not(.address__item:last-child) {
  margin-bottom: 9px;
}

.addrem__map {
  text-decoration: none;
  color: var(--primary-white-color);
  line-height: 1.71;
}

.address__link {
  text-decoration: none;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--primary-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
  }
}

.social__title,
.sub-form__title {
  display: block;
  margin-bottom: 20px;
  text-align: center;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.social-list__linc--colors {
  background-color: #44454e;
  color: var(--primary-white-color);

  transition: background-color 250ms var(--primary-animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-sub {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }
}

.sub-form__box {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}

.sub-form__box .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-form__email-input {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;

  background-color: var(--primary-black-color);

  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: var(--primary-white-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms var(--primary-animation);

  &:focus {
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    width: 358px;
  }
}

.icon-send {
  margin-left: 10px;
}
