.button-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;

  margin-left: -8px;
  margin-top: -15px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.button-list__item {
  margin-left: 8px;
  margin-top: 15px;
}

.products-list {
  
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}

.products-list__item {
  @media screen and (max-width: 767px) {
    display: inline-block;
    text-align: center;
  }

  width: 370px;
}

.products-list__linc {
  display: block;
  width: 100%;

  text-decoration: none;

  transition: box-shadow 250ms var(--primary-animation);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }
}

// .products-list__item {
//   // &:not(:nth-child(3n)) {
//   //   margin-right: 30px;
//   // }

//   // &:not(:nth-child(-1n + 3)) {
//   //   margin-top: 30px;
//   // }
// }

.products-list__img {
  display: block;
  width: 100%;
}

.products-list__box {
  position: relative;
  overflow: hidden;
}

.products-list__overlay {
  position: absolute;
  left: 0;
  bottom: -100%;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms var(--primary-animation);

  .products-list__linc:hover &,
  .products-list__linc:focus & {
    transform: translate(0, -100%);
  }
}

.products-list__meta {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.products-list__info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.products-list__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.products-list__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
