.soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media screen and (max-width: 340px) {
    width: calc(100% - 40px);
    justify-content: space-between;
  }

  @media screen and (min-width: 481px) and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 767px) {
    max-width: 400px;
    visibility: inherit;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.soc-list__item {
  @media screen and (min-width: 341px) {
    &:not(:last-child) {
      // margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}

.soc-list__linc {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--accent-color);
  transition: color 250ms var(--primary-animation);

  &:hover,
  &:focus {
    color: var(--primary-black-color);
  }

  @media screen and (max-width: 340px) {
    font-size: 20px;
    padding: 10px;
  }
}
